Package: com.sassoty.screenpainter
Name: ScreenPainter
Depends: mobilesubstrate
Version: 1.4
Architecture: iphoneos-arm
Description: Paint your screenshots before they are taken!
Maintainer: Sassoty <sassoty@gmail.com>
Author: Sassoty <sassoty@gmail.com>
Section: Tweaks
Depiction: http://beta-repo.sassoty.com/deps.php?pkg=com.sassoty.screenpainter
