<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Presets</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>This does not change the brush size or opacity. Presets are strictly RGB colors.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>BrushPresetListController</string>
			<key>label</key>
			<string>Presets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save as Preset</string>
			<key>action</key>
			<string>saveBrushPreset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Preview</string>
			<key>action</key>
			<string>showPreview</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Brush Size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>10.0</real>
			<key>min</key>
			<real>1.0</real>
			<key>max</key>
			<real>70.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>brush</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>0.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>red</string>
			<key>id</key>
			<string>red</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>0.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>green</string>
			<key>id</key>
			<string>green</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>0.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>blue</string>
			<key>id</key>
			<string>blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>ScreenPainter © Noah Saso 2014</string>
		</dict>
	</array>
	<key>title</key>
	<string>Brush Settings</string>
</dict>
</plist>
