<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Presets</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>This does not change the brush size or opacity. Presets are strictly RGB colors.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>FlashPresetListController</string>
			<key>label</key>
			<string>Presets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Save as Preset</string>
			<key>action</key>
			<string>saveFlashPreset</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Make sure the "Enable Flash Color" switch is enabled in the previous view to see exactly what will appear.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Preview</string>
			<key>action</key>
			<string>showPreview</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Red</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>255.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>flashred</string>
			<key>id</key>
			<string>flashred</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Green</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>255.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>flashgreen</string>
			<key>id</key>
			<string>flashgreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>255.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>255.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>flashblue</string>
			<key>id</key>
			<string>flashblue</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.sassoty.screenpainter</string>
			<key>PostNotification</key>
			<string>com.sassoty.screenpainter/preferencechanged</string>
			<key>default</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>flashopacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>ScreenPainter © Noah Saso 2014</string>
		</dict>
	</array>
	<key>title</key>
	<string>Flash Color</string>
</dict>
</plist>
